{% sw_extends '@Storefront/storefront/base.html.twig' %}


{% block base_main %}
    <div id="google_recaptcha_plugin" data-captcha-plugin-options="{{ { sitekey: captcha.sitekey } | json_encode }}"></div>
    {{ parent() }}
{% endblock %}


 {% block base_header %}
     {{ parent() }}
     <div class="row">
         <div class="col-md-12" style="text-align: center;">
             {% if cssAnimation %}
             <div id="sky" style="position: absolute;">
                 <div class="theSun">
                     <div class="ray_box">
                         <div class="ray ray1"></div>
                         <div class="ray ray2"></div>
                         <div class="ray ray3"></div>
                         <div class="ray ray4"></div>
                         <div class="ray ray5"></div>
                         <div class="ray ray6"></div>
                         <div class="ray ray7"></div>
                         <div class="ray ray8"></div>
                         <div class="ray ray9"></div>
                         <div class="ray ray10"></div>
                     </div>
                 </div>
                 <!-- 	<div class="cloudwrapperOne">
                         <div class="cloud c1"></div>
                     </div -->
                 <div class="cloudwrapperTwo">
                     <div class="cloud c2"></div>
                 </div>
                 <div class="cloudwrapperThree">
                     <div class="cloud c3"></div>
                 </div>

             </div>
         </div>


         <div class="rain front-row"></div>
         <div class="rain back-row"></div>
 

         {% endif %}
     </div>
     </div>
 {% endblock %}
