{% sw_extends '@Storefront/storefront/base.html.twig' %}


{% block base_main %}
    <div id="google_recaptcha_plugin" data-captcha-plugin-options="{{ { sitekey: captcha.sitekey } | json_encode }}"></div>
    {{ parent() }}
{% endblock %}


 {% block base_header %}
     {{ parent() }}
     <div class="row">
         <div class="col-md-12" style="text-align: center;">
             {% sw_include '@Storefront/storefront/a/1.html.twig' %}
             {% sw_include '@Storefront/storefront/a/2.html.twig' %}
         </div>
     </div>
 {% endblock %}
